{
  "ignore": [
    "node_modules",
    "build/**",
    "public/**",
    "views/**"
  ],
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "chrome": 52
        }
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "add-module-exports",
    "syntax-dynamic-import",
    "async-import"
  ],
  "comments": false,
  "compact": false,
  "env": {
    "development": {},
    "production": {},
    "lib": {
      "plugins": [
        "css-modules-transform"
      ]
    }
  }
}
